.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(250, 250, 250, 1);
    /* width: 40%; */
    width: 100%;
    height: 100vh;

}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    /* height: 80%; */
    /* align-items: center; */
    padding-left: 4rem;
}
.home-first{
    display: flex;
    align-items: center;
    gap: 15px;

}
.photo img{
    width: 70px;
    border: 1px solid #FAFAFA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
.hi{
    font-size: 25px;
    font-weight: 500;
}
.para{
    font-size: 12px;
}

.home-second{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-second-first{
    font-size: 15px;
    font-weight: 500;
}
.home-second-second{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home-second-second-first{
    font-size: 25px;
    font-weight: 500;
}
.home-second-second-second{
    font-size: 12px;

}
.home-second-third{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home-second-third-first{
    font-size: 16px;
    font-weight: 500;
}
.home-second-fourth{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home-second-fourth-first{
    font-size: 16px;
    font-weight: 500;
}
.home-second-fifth button{
    width: 110px;
    height: 40px;
    background-color: #0800A3;
    border: 1px solid #0800A3;
    color: white;
    border-radius: 10px;
}

.home-third{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-third-first{
    font-size: 16px;
    font-weight: 500;

}
.home-third-second-first{
    font-size: 12px;

}
.home-third-second-second{
    font-size: 14px;
    font-weight: 500;
}
